body {
    background-image: url('/pages/login/images/insert-image-html.jpg');
    background-size: cover;
}
.general {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
}
#form {
    width: 30%;
    margin: auto;
}

.mb-3 {
    color:yellow
}

#emailHelp {
    color: green;
}